<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-10">
                <button (click)="openProfilesPage()" class="btn btn-block btn-lg btn-primary"><i class="fa fa-users"></i>&nbsp; &nbsp; &nbsp;  Profiles</button>
            </div>
            <div class="col-md-2">
                <button routerLink="/users/roles" class="btn btn-block btn-primary"><i class="fa fa-address-card"></i> &nbsp; &nbsp; &nbsp; Roles</button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Users</h4>
                        <button (click)="openCreate()" class="btn btn-danger pull-right"><i class="fa fa-plus"></i> Create User</button>
                        <p class="card-category">Registered users</p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <!-- <th>REF.ID</th> -->
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>Phone Number</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td>1</td> -->
                                        <td>Dakota Rice</td>
                                        <td>Niger</td>
                                        <td>Oud-Turnhout</td>
                                        <td class="text-primary">254798765432</td>
                                        <td><span class="fa fa-pencil-square"></span></td>
                                    </tr>
                                    <tr>
                                        <!-- <td>2</td> -->
                                        <td>Minerva Hooper</td>
                                        <td>Curaçao</td>
                                        <td>Sinaai-Waas</td>
                                        <td class="text-primary">254709823789</td>
                                        <td><span class="fa fa-pencil-square"></span></td>
                                    </tr>
                                    <tr>
                                        <!-- <td>3</td> -->
                                        <td>Sage Rodriguez</td>
                                        <td>Netherlands</td>
                                        <td>Baileux</td>
                                        <td class="text-primary">254756090142</td>
                                        <td><span class="fa fa-pencil-square"></span></td>
                                    </tr>
                                    <tr>
                                        <!-- <td>4</td> -->
                                        <td>Philip Chaney</td>
                                        <td>Korea, South</td>
                                        <td>Overland Park</td>
                                        <td class="text-primary">254739029322</td>
                                        <td><span class="fa fa-pencil-square"></span></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
