
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-info">
              <h4 class="card-title">Audit Parameters</h4>
              <!-- <button [routerLink]="'/companies/create-company'" class="btn btn-danger pull-right"><i class="fa fa-plus"></i> Add Parameter</button> -->
              <!-- <p class="card-category">Registered companies for auditing </p> -->
            
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table">
                      <thead class="text-primary">
                          <!-- <th>REF.ID</th> -->
                          <th>Parameter Name</th>
                          <th>Parameter Type</th>
                          <th>Parameter Description</th>
                          <th>Result</th>
                          <th>Lab_Result</th>
                          <th>Lab_Remarks</th>
                          <th>Inpection_Remarks</th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of myDetails">
                              <!-- <td>1</td> -->
                              <td>{{item['Parameter_Name']}}</td>
                              <td>{{item['Parameter_Type']}}</td>
                              <td>{{item['Parameter_Description']}}</td>
                              <td class="text-success">{{item['Result']}}</td>
                              <td>{{item['Lab_Result']}}</td>
                              <td>{{item['Lab_Remarks']}}</td>
                              <td>{{item['Inpection_Remarks']}}</td>
                              
                          </tr>                              
                        
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
