<div class="main-content">
    <div class="container-fluid">
 
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Roles</h4>
                        <button (click)="openCreateRole()" class="btn btn-danger pull-right"><i class="fa fa-plus"></i> Create Role</button>
                        <p class="card-category">Registered Roles</p>
                      
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <!-- <th>REF.ID</th> -->
                                    <th style="padding-top:-4px !important">Role Name</th>
                                    <th>Role Description</th>
                                   
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td>1</td> -->
                                        <td>View Companies</td>
                                        <td>role for allowing user view Companies</td>
                                        
                                        <td>
                                            <span class="fa fa-pencil-square text-info"></span> &nbsp; &nbsp;
                                            <span class="fa fa-trash-o text-danger"></span>
                                            </td>
                                        
                                    </tr>
                                    <tr>
                                        <!-- <td>2</td> -->
                                        <td>Initiate audit</td>
                                        <td>Initiate audit</td>
                                   
                                        <td><span class="fa fa-pencil-square text-info"></span> &nbsp; &nbsp;
                                            <span class="fa fa-trash-o text-danger"></span></td>
                                    </tr>
                                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>